@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    src: url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-display: swap;
}

:root {
    --bs-font-sans-serif: "Roboto";
    /* --bs-body-font-size: 1.4rem; */

    --bs-danger: #c23b48;

    --hi-gray: #EFEFEF;
    --hi-grey: #f3f3f3;
    --hi-yellow: #F09D30;
    --hi-dark-grey: #707070;
    --hi-purple: #CB356B;
}

body {
    overflow: overlay;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #DF5933, #d44551);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

/* nav.navbar {
    transition: all .2s;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
} */

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* .navbar-down {
    position: sticky !important;
    top: 0;
    z-index: 2;
    animation: slide-down 1s;
    background: linear-gradient(to right, #DF5933, #d44551);
    box-shadow: 0 0 5px 1px #d44551
} */


.bg-hi-primary {
    background: linear-gradient(to right, #DF5933, #d44551);
}

nav#main-navbar {
    box-shadow: 0 0 5px 1px #d44551
}

.btn-login {
    background-color: white;
    color: black;
    padding: 5px 1.5rem !important;
    border-radius: 3px;
    border: 2px solid white;
}

.btn-login:hover {
    color: white;
}

#home-section {
    background-image: url('../images/Frame 1.png');
}

#home-section h2 {
    font-weight: bold;
    font-size: calc(1.325rem + 5vw);
}

#home-section h3 {
    font-size: calc(1.325rem + 1vw);
}

#home-section a {
    background-color: #FFC100;
    border-radius: 116px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 1.2rem;
    font-weight: bold;
}

#home-section a div {
    display: flex;
    align-items: center;
}

#home-section a div span {
    font-size: calc(1.3rem + .6vw);
    font-weight: normal;
}

#home-section a div img {
    padding-left: 3rem;
    /* width: 50px;
    height: 50px; */
}

.box-card {
    padding-top: 4rem;
    height: 100%;
    position: relative;
}

/* #feature-section {} */
.box-content {
    height: 100%;
    position: relative;
    padding: 30% 2em;
    background-clip: padding-box;
    border: 8px solid transparent;
    border-radius: 2em;
    background-color: white;
}

.box-content::before,
.box-icon::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin: -8px;
    border-radius: inherit;
    background: linear-gradient(to right, #DF5933, #CB356B);
}

.box-card>.box-icon {
    border-radius: 50%;
    position: absolute;
    background-clip: padding-box;
    border: 8px solid transparent;
    background-color: white;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.box-icon-image {
    background: white;
    padding: 1rem;
    border-radius: inherit;
}

#integrated-section {
    position: relative;
}

#integrated-section::before {
    content: "";
    background-image: url('../images/Group 61.png');
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

/* #upgrade-to-pro-section{

} */

.card {
    --bs-border-color-translucent: var(--hi-purple);
    --bs-card-cap-bg: #fce4ec;
}

.btn-primary {
    --bs-btn-bg: #c23b48;
    --bs-btn-border-color: #c23b48;
    --bs-btn-hover-bg: #880e4f;
    --bs-btn-hover-border-color: #880e4f;
    --bs-btn-active-bg: #880e4f;
    --bs-btn-active-border-color: #880e4f;
    --bs-btn-disabled-bg: #c23b48;
    --bs-btn-disabled-border-color: #c23b48;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem #c23b4838
}

.accordion {
    --bs-accordion-active-color: var(--hi-purple);
    --bs-accordion-active-bg: #fce4ec;
    --bs-accordion-btn-focus-border-color: var(--hi-purple);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #fce4ec38;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c23b48'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.bg-card-icon {
    background-color: var(--hi-gray);
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1.1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-card-icon img {
    max-width: 100%;
    height: auto;
    /* width: 100%;
    height: 100%; */
}

.card-pricing:not(.card-pricing-light) div {
    color: white;
}

.card-pricing-light {
    background-color: white;
}

.card-pricing {
    position: relative;
    padding: 1.5rem;
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 10px;
}

.card-pricing-body {
    border-radius: 10px;
    /* min-height: 300px; */
    min-height: calc(20vh + 300px);
}

.card-pricing-footer {
    text-align: center;
}

.card-pricing::before {
    content: '';
    background: linear-gradient(104.45deg, #DF5933 5.07%, #CB356B 90.6%);
    z-index: -1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: -5px;
    border-radius: inherit;
}

.card-pricing .card-pricing-footer button {
    border-radius: 25px;
    padding: 10px 2rem;
}

.card-pricing:not(.card-pricing-light) .card-pricing-footer button {
    background-color: white;
}

.card-pricing.card-pricing-light .card-pricing-footer button {
    background: linear-gradient(104.45deg, #DF5933 5.07%, #CB356B 90.6%);
    color: white;
}